# انسخ هذا الملف إلى .env وضع بياناتك
# (الإعدادات دي بقت تتعمل من الواجهة مش من هنا)
# لو عايز تستخدمهم مباشرة:

VITE_FRAPPE_URL=https://qu-centre.svu.edu.eg/app
VITE_API_KEY=85b425671a87408
VITE_API_SECRET=fd144306468fa1a
